.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 24px;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 16px;
    overflow-wrap: normal;
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}